<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<!-- JS Library -->
	<script type="text/javascript" src="/webix/codebase/webix<%= PRODUCTION == 'true' ? '.min' : '' %>.js"></script>
	<link rel="stylesheet" type="text/css" href="/webix/codebase/webix<%= PRODUCTION == 'true' ? '.min' : '' %>.css">
	<script type="text/javascript" src="/axios/dist/axios<%= PRODUCTION == 'true' ? '.min' : '' %>.js"></script>
	<link rel="stylesheet" type="text/css" href="/mdi/css/materialdesignicons<%= PRODUCTION == 'true' ? '.min' : '' %>.css">

	<!-- App -->
	<script type="text/javascript" src="/myapp.js"></script>
	<link rel="stylesheet" type="text/css" href="/myapp.css">
</head>
<body>
</body>
</html>